<header class="site-header">
  <div class="wrapper">
    <nav class="site-nav">
      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        
        <a class="page-link" href="{{ site.baseurl }}/">गृह पृष्ठ</a>

        
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        

      </div>

    </nav>
    <div class="header-bar">
      <br>
      {% if page.title_flag%}
        <h1>पुरानो रेडियो</h1>
        <p><font size="4">समाज, कला, विज्ञान </font></p>
        <br>
      {% else%}
        <h1>पुरानो रेडियो</h1>
        <p><font size="4">समाज, कला, विज्ञान </font></p>
      {% endif %}
      
    </div>
  
  </div>

</header>


<!--     <article class="post-content">

      <div class="header-bar">
      <h1>पुरानो रेडियो</h1>
      <p><font size="4">समाज, राजनीति, साहित्य </font></p>
      <hr>
      </br>
      </div>

    </article> -->