<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <br></br>

      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        {% if page.title%}
          <a class="page-link" href="{{ site.baseurl }}/">गृह पृष्ठ</a>

        {% else%}
          {% for page in site.pages %}
            {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
        {% endif %}

      </div>
    </nav>

  </div>

</header>
